body {
  background-color: #405068;
  font-family:'Verdana';
}

p {
  color: #FFFFFF;
  font-family:'Verdana';
}

h1 {
  text-align: center;
  color: #FFFFFF;
}

h2 {
  text-align: center;
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}
